.forgotPass-container {
  width: 981px;
  margin: 0 auto;
  position: relative;
  zoom: 1;
}

.forgotPass-child {
  min-height: 640px;
  margin: 0;
  outline: none;
  padding: 0;
  width: auto;
}

.forgotPass-card {
  background-color: #e9ebee;
  padding: 80px 0;
}

.forgotPass-form {
  padding: 0;
  margin: 0;
}

.forgotPass-card-main {
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  @apply w-[555px] mt-[20px] mb-[10px] pt-[10px] relative;
}

.forgotPass-card-header {
  border-color: #ccc;
  padding-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  padding: 6px 0;
  border-bottom: 1px solid #aaa;
  margin-top: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
    sans-serif;
}

.forgotPass-card-header-text {
  white-space: nowrap;
  color: #162643;
  margin: 0;
  min-height: 20px;
  padding-bottom: 2px;
  vertical-align: bottom;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: -16px;
  padding: 16px 16px 0px 16px;
}

.forgotPass-card-content {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 15px;
  padding-top: 10px;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td {
  text-align: left;
  display: table-cell;
  vertical-align: inherit;
}

.forgotPass-hide-container {
  font-size: 13px;
  font-weight: 400;
  height: 76px;
  line-height: 16px;
  padding-bottom: 10px;
  width: 225px;
}

.forgotPass-td-first-child {
  font-size: 17px;
  font-weight: 400;
  height: 100%;
  line-height: 20px;
  padding-bottom: 15px;
  width: 300px;
}

.forgotPass-hide-text {
  font-size: 13px;
  font-weight: 400;
  height: 76px;
  line-height: 16px;
  padding-bottom: 10px;
  width: 225px;
}

.forgotPass-td-second {
  height: 112px;
  padding-left: 20px;
  padding-left: 16px;
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.forgotPass-td-second-child {
  height: 112px;
  padding-left: 20px;
  padding-left: 16px;
  position: relative;
  text-align: center;
  width: 100%;
}

.forgotPass-profImg-container {
  padding-bottom: 12px;
  position: relative;
  text-align: center;
  width: 100%;
}

.forgotPass-profImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.userName-container {
  font-size: 15px;
  line-height: 20px;
  width: 180px;
  word-wrap: break-word;
}

.userName-text {
  color: #333;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
}

.facebook-user-text {
  font-family: inherit;
  color: #90949c;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}
