.forgotPass-container {
  margin: auto;
  position: relative;
  zoom: 1;
}

.forgotPass-child {
  min-height: 640px;
  margin: 0;
  outline: none;
  padding: 0;
  width: auto;
}

.forgotPass-card {
  background-color: #e9ebee;
  padding: 80px 0;
  @apply max-[560px]:w-[40rem];
}

.forgotPass-form {
  padding: 0;
  margin: 0;
}

.forgotPass-card-main {
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  @apply w-[500px] mt-[20px] mb-[10px] pt-[10px] relative;
}

.forgotPass-card-header {
  border-color: #ccc;
  padding-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  padding: 6px 0;
  border-bottom: 1px solid #aaa;
  margin-top: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
    sans-serif;
}

.forgotPass-card-header-text {
  white-space: nowrap;
  color: #162643;
  margin: 0;
  min-height: 20px;
  padding-bottom: 2px;
  vertical-align: bottom;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-top: -16px;
  padding: 16px 16px 16px 16px;
}

.forgotPass-card-content {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 15px;
  padding-top: 10px;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td {
  text-align: left;
  display: table-cell;
  vertical-align: inherit;
}

.forgotPass-hide-container {
  font-size: 13px;
  font-weight: 400;
  height: 76px;
  line-height: 16px;
  padding-bottom: 10px;
  width: 225px;
}

.forgotPass-td-first-child {
  font-size: 17px;
  font-weight: 400;
  height: 100%;
  line-height: 20px;
  padding-bottom: 15px;
  width: 300px;
}

.forgotPass-hide-text {
  font-size: 13px;
  font-weight: 400;
  height: 76px;
  line-height: 16px;
  padding-bottom: 10px;
  width: 225px;
}

.forgotPass-td-second {
  height: 112px;
  padding-left: 5px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.forgotPass-td-second-child {
  height: 112px;
  padding-left: 5px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  width: 100%;
}

.forgotPass-profImg-container {
  padding-bottom: 12px;
  position: relative;
  text-align: center;
  width: 100%;
}

.forgotPass-profImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.userName-container {
  font-size: 15px;
  line-height: 20px;
  width: 180px;
  word-wrap: break-word;
}

.userName-text {
  color: #333;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
}

.facebook-user-text {
  font-family: inherit;
  color: #90949c;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}

a {
  color: #385898;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  top: -6px;
}

.forgotPassword-footer-container {
  background-color: inherit;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 100%;
  padding-top: 16px;
  border-radius: 8px;
  padding: 16px 16px 16px 16px;
  line-height: 16px;
}

.forgotPassword-loginWith-text-container {
  padding-top: 12px;
}

.forgotPassword-loginWith-text {
  color: #1877f2;
  font-family: SFProText;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  line-height: 30px;
  vertical-align: middle;
}

.forgotPassword-two-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  float: right;
  padding-top: 5px;
}

.forgotPassword-try-another-text {
  background-color: #e4e6eb;
  border: none;
  border-radius: 6px;
  color: #050505;
  font-size: 15px;
  font-weight: 600;
  margin-right: 8px;
  padding: 8px 0;
  width: 140px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  line-height: 22px;
  transition: 200ms cubic-bezier(0.08, 0.52, 0.52, 1) background-color,
    200ms cubic-bezier(0.08, 0.52, 0.52, 1) box-shadow,
    200ms cubic-bezier(0.08, 0.52, 0.52, 1) transform;
  position: relative;
  top: -6px;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
}

.forgotPassword-continue-button {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 0;
  width: 100px;
  margin-left: 4px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  line-height: 22px;
  transition: 200ms cubic-bezier(0.08, 0.52, 0.52, 1) background-color,
    200ms cubic-bezier(0.08, 0.52, 0.52, 1) box-shadow,
    200ms cubic-bezier(0.08, 0.52, 0.52, 1) transform;
  position: relative;
  top: -6px;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
}
