/* This is signup modal css */

.sign-up-modal-container {
  background: transparent;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 400;
  display: table;
  height: 100% !important;
  table-layout: fixed;
  width: 100%;
  outline: none;
  @apply opacity-[1] min-w-[472px] pt-[25px];
}

.sign-up-modal-content {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  @apply bg-[#ffffffcc];
}

.sign-up-modal-main {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  overflow-y: scroll;
}

.sign-up-modal {
  display: inline-block;
  margin: 20px;
  position: relative;
  text-align: left;
}

.sign-up-modal-area {
  background-color: transparent;
  overflow: visible;
  padding: 0;
  width: 432px;
  height: 550px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  @apply bg-white rounded-[3px];
}

.close-image {
  @apply absolute right-[10px] top-[12px] z-[2];
}

.signup-heading-container {
  padding: 10px 16px;
  border-radius: 8px 8px 0 0;
  @apply bg-[#fff] mt-[0px] pt-[10px] box-border relative w-[432px] z-[1];
}

.signup-heading-text {
  font-family: Helvetica, Arial, sans-serif;
  @apply text-[#1c1e21] text-[32px] leading-[38px] mb-[0px] font-[600];
}

.easy-heading-text {
  font-family: Helvetica, Arial, sans-serif;
  @apply mb-[0px] text-[#606770] text-[15px] leading-[24px] font-normal;
}

.signup-content-container {
  margin: 0 auto 0 auto;
  @apply pb-[0px];
}

.signup-content {
  border-radius: 0 0 8px 8px;
  border-top: 1px solid #dadde1;
  @apply bg-[#fff] box-border p-[16px] relative w-[432px];
}

.signup-modal-form {
  @apply m-[0px] p-[0px];
}

.fullName-fieldChild {
  @apply w-[399px];
}

.fistName-inputField-container {
  @apply mb-[10px] mr-[8px] float-left inline-block;
}

.firstName-inputField-container-child {
  @apply w-[194px] bg-[#fff] inline-block relative;
}

.firstName-inputField {
  @apply w-[194px] placeholder:text-[#8d949e] font-[400] border-[1px] text-[15px] leading-[16px] border-[#ccd0d5] p-[11px] rounded-[4px] focus:outline-none bg-[#f5f6f7];
}

.signup-mobileNumber-input-container {
  @apply relative inline-block w-[399px] mb-[10px] text-[15px] leading-[16px];
}

.signup-mobileNumber-input {
  @apply w-full placeholder:text-[#8d949e] font-[400] border-[1px] text-[15px] leading-[16px] border-[#ccd0d5] p-[11px] rounded-[5px] focus:outline-none bg-[#f5f6f7];
}

.signup-newPassword-input-container {
  @apply relative inline-block w-[399px] mb-[10px] text-[15px] leading-[16px];
}

.signup-newPassword-input {
  @apply w-full placeholder:text-[#8d949e] font-[400] border-[1px] text-[15px] leading-[16px] border-[#ccd0d5] p-[11px] rounded-[5px] focus:outline-none bg-[#f5f6f7];
}

.signup-dateOfBirth-container {
  @apply w-full relative;
}

.signup-dateOfBirth-text {
  @apply mb-[4px] float-left text-[#606770] text-[12px] leading-[20px] mt-[2px] font-[500] w-full text-left;
}

.signup-questionIcon-container {
  @apply text-inherit leading-[12px] ml-[4px] w-[150px];
}

.signup-questionIcon {
  background-position: 0px -60px;
  background-size: 22px 73px;
  background-repeat: no-repeat;
  line-height: 12px;
  @apply w-[12px] h-[12px] inline-block text-inherit;
}

.signup-select-container {
  @apply relative text-left;
}

.signup-select-content {
  @apply inline-block;
}

.signup-select-main {
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  background-position: right 5px center;
  background-size: 14px;
  padding: 0px 8px;
  padding-right: 20px;
  background-repeat: no-repeat;
  @apply rounded-[4px] text-[#1c1e21] text-[15px] font-normal h-[36px] leading-[20px] w-[125px] bg-[#fff] border-[1px] border-[#ccd0d5] focus:outline-none;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

.signup-dateOfBirth-container {
  @apply w-full relative;
}

.signup-dateOfBirth-text {
  @apply mb-[4px] float-left text-[#606770] text-[12px] leading-[20px] mt-[2px] font-[500] w-full text-left;
}

.signup-questionIcon-container {
  @apply text-inherit leading-[12px] ml-[4px] w-[150px];
}

.signup-questionIcon {
  background-position: 0px -60px;
  background-size: 22px 73px;
  background-repeat: no-repeat;
  line-height: 12px;
  @apply w-[12px] h-[12px] inline-block text-inherit;
}

.signup-gender-container {
  margin: -8px -6px -6px;
  @apply flex flex-wrap w-[411px];
}

.signup-gender-map {
  flex: 1 0 auto;
  margin: 0px 6px 0px;
  @apply bg-white border-[1px] border-[#ccd0d5] box-border inline-block font-normal h-[36px] p-[0] relative w-auto rounded-[4px];
}

.signup-label {
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  line-height: 36px;
  padding: 0px 55px 0px 9px;
  @apply box-border inline-block text-[15px] w-[100%] font-normal text-[#1c1e21];
}

.signup-input-radio {
  @apply h-[36px] m-[0px] absolute right-[10px] top-[0px] text-[15px] bg-white text-[#1c1e21] font-normal;
}

.signup-optionalGender-input-container {
  @apply flex flex-wrap w-[411px] mt-[10px];
}

.signup-optionalGender-input-content {
  @apply relative inline-block w-[399px] mb-[10px] mt-[10px] text-[15px] leading-[16px];
}

.signup-optionalGender-input {
  @apply w-full placeholder:text-[#8d949e] font-[400] border-[1px] text-[15px] leading-[16px] border-[#ccd0d5] p-[11px] rounded-[5px] focus:outline-none bg-[#f5f6f7];
}

.signup-info-text-container {
  @apply flex flex-wrap w-[399px];
}

.signup-info-text {
  @apply w-auto text-[#777] text-[11px] text-left;
}

.signup-useable-text {
  text-decoration: none;
  @apply text-[#385898] cursor-pointer hover:border-b-[1px] border-[#385898];
}

.signup-by-clicking-container {
  @apply w-[399px];
}

.signup-by-clicking-text {
  @apply w-auto text-[#777] text-[11px] mt-[10px] text-left;
}

/* End signup modal css */

/* This is add account modal css */

.addAccount-modal-container {
  background: transparent;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 400;
  display: table;
  height: 100% !important;
  table-layout: fixed;
  width: 100%;
  outline: none;
  @apply opacity-[1] min-w-[472px] pt-[25px];
}

.addAccount-modal-content {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  @apply bg-[#00000066];
}

.addAccount-modal-main {
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.addAccount-modal {
  display: inline-block;
  margin: 20px;
  position: relative;
  text-align: left;
}

.addAccount-modal-area {
  background-color: transparent;
  overflow: visible;
  padding: 0;
  width: 400px;
  height: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  @apply bg-white rounded-[3px];
}

.addAccount-close-container {
  margin: 10px 16px 12px 36px !important;
  @apply float-right mt-[-4px] text-right;
}

.addAccount-close-content {
  @apply bg-[#ebedf0] rounded-[50%] w-[36px] h-[36px] text-center;
}

.addAccount-close {
  background-position: 0 -43px;
  background-size: 43px 77px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-top: 8px;
  text-align: center;
}

.addAccount-heading-container {
  border-radius: 3px 3px 0 0;
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  @apply bg-[#fff] mt-[0px] pt-[20px] pl-[70px] pb-[20px] box-border w-[370px] text-center;
}

.addAccount-content-container {
  margin: 0 auto 0 auto;
  @apply pb-[0px];
}

.addAccount-content {
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #dadde1;
  @apply bg-[#fff] box-border p-[16px] relative w-[399px];
}

.addAccount-modal-form {
  @apply m-[0px] p-[0px];
}

.addAccount-mobileNumber-input-container {
  @apply relative inline-block w-[370px] mb-[10px] text-[15px] leading-[16px];
}

.addAccount-mobileNumber-input {
  padding: 14px 16px !important;
  @apply w-[370px] placeholder:text-[#8d949e] font-[500] border-[1px] text-[17px] leading-[16px] border-[#ccd0d5] focus:border-[#1877f2] focus:shadow-md p-[11px] rounded-[5px] focus:outline-none;
}

.addAccount-newPassword-input-container {
  @apply relative inline-block w-[370px] mb-[10px] text-[15px] leading-[16px];
}

.addAccount-newPassword-input {
  padding: 14px 16px !important;
  @apply w-[370px] placeholder:text-[#8d949e] font-[500] border-[1px] text-[17px] leading-[16px] border-[#ccd0d5] focus:border-[#1877f2] focus:shadow-md p-[11px] rounded-[5px] focus:outline-none;
}

.addAccount-remember-container {
  padding: 6px 0 16px;
}

/* End add account css */
